@model InspiringIPT.Models.Cursos

@{
    ViewBag.Title = "Detalhes do Curso";
}

<div class="row">

    <div class="col-md-6">
        <h3>@Html.DisplayFor(model => model.TipoCurso)</h3>
        <div class="col-md-12" style="text-align:justify">
            <p>@Html.DisplayFor(model => model.Descricao)</p>
        </div>
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Curso)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Curso)
                </dd>
            </dl>
        <div class="col-md-12 col-md-offset-2">
            @Html.ActionLink("Ver os tipos", "Index", "", new { @class = "btn btn-primary" })

            @if (User.IsInRole("Funcionarios"))
            {
            @Html.ActionLink("Alterar o curso", "Edit", new { id = Model.CursoID },new { @class = "btn btn-warning" })                                                                   
            }
        </div>
       </div>
    </div>
    <div class="col-md-6">
        <img style="width:550px" src="~/Images/@ViewBag.img" />
    </div>
</div>



