@model IEnumerable<InspiringIPT.Models.Cursos>

@*Esta instução 'ensina' à view os dados que vem do CONTROLLER*@
@{
    ViewBag.Title = "Cursos";
}    

<h2>Os nossos Cursos</h2>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TipoCurso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Curso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                
                <th></th>
            </tr>

            @foreach (var item in Model)
            /*Para cada Curso presente na lista,
            constroi uma Linha Tabela*/
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoCurso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Curso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    
                </tr>
            }

        </table>
      
