@model InspiringIPT.Models.Inscricao

@{
    ViewBag.Title = "Detalhes da Inscrição";
}
<div class="col-md-6">
    <h2>Inscrição do Aluno</h2>
    <table>
        <tr>
            <td></td>
            <td>
                <b>Inscrição</b>
            </td>
        </tr>
        <tr>
            <td>
                <b>@Html.DisplayNameFor(model => model.DataInscricao):</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.DataInscricao)
            </td>

        </tr>
        <tr>
            <td>
                <b>Aluno: </b>
            </td>
            <td>
                @ViewBag.nome @ViewBag.NomeCompleto
            </td>

        </tr>
        <tr>
            <td>
                <b>@Html.DisplayNameFor(model => model.Cursos.TipoCurso): </b>
            </td>
            <td>
                @ViewBag.tipo
            </td>
        </tr>
    </table>
</div>
<div class="col-md-offset-2">
    @Html.ActionLink("Alterar inscrição", "Edit", new { id = Model.InscricaoID }) |
    @Html.ActionLink("Ver Inscrições", "Index")
</div>

