@model IEnumerable<InspiringIPT.Models.Lista>

@{
    ViewBag.Title = "Ver Inscrições";
}
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Curso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataInscri)
                </th>
               
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Curso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInscri.Day)/@Html.DisplayFor(modelItem => item.DataInscri.Month)/@Html.DisplayFor(modelItem => item.DataInscri.Year)
                    </td>
                  
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.InscricaoID }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Detalhes", "Details", new { id = item.InscricaoID }, new { @class = "btn btn-info" })
                        @if (User.IsInRole("Funcionarios"))
                        {
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.InscricaoID }, new { @class = "btn btn-danger" })
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
</div>