@using InspiringIPT.Models
@model LoginViewModel
<br />
@{
    ViewBag.Title = "Iniciar Sessão";
}

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {

            @Html.AntiForgeryToken()
            <section id="loginForm">
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-3">
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-group", @placeholder = "E-Mail" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-3">
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control input-group", @placeholder = "Password" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10" style="margin-top:10px">
                        <input type="submit" value="Iniciar Sessão" class="btn btn-success" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-3">
                        @Html.ActionLink("Inscrever novo Aluno", "Register") | @Html.ActionLink("Esqueceu-se da Password?", "ForgotPassword")
                    </div>
                </div>
            </section>
        }
    </div>
    @*<div class="col-md-6">
            <img class="img-responsive" src="~/Imags/campus_ipt.jpg" alt="">
        </div>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
