@model InspiringIPT.Models.Alunos

@{
    ViewBag.Title = "Perfil";
}
<div class="row">
    
    <div class="col-md-6" style="text-align:justify">
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.NomeCompleto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NomeCompleto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Concelho)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Concelho)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Curso)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Curso)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contacto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sexo) 
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HabAcademicas) @Html.DisplayFor(model => model.InforCursos)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AreasInteresse)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AreasInteresse)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Observacoes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Observacoes)
            </dd>
        </dl>
        <div class="col-md-6 col-md-offset-1">
            @Html.ActionLink("Alterar Perfil do Aluno", "Editar", "", new { @class = "btn btn-warning" })
            @Html.ActionLink("Ver Alunos", "Listagem", "", new { @class = "btn btn-info" })
        </div>
    </div>

</div>